*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
    background-color: darkcyan;
    height:50px;
    padding: 10px;
    display: flex;
    position: fixed;
    margin: auto;
    width: 100%;
}
.search .input{
    border: 0;
    margin: auto;
    text-align: center;
    display: flex;
    width: 800px;
    height: 40px;

}
.wrapper {
    height: 50px;
}
.test{
    background-color: darkcyan;
    text-align: center;
    display: flex;
    justify-content:center;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
}
